{% extends 'index.html' %}
{% load static %}
{% load filters %}
{% load socialaccount %}
{% block content %}

<div class="row">
  <div class="d-none d-md-block col-md-5 p-0">
    <!-- <img
            src="./img/login-art.jpg"
            style="height: inherit; width: 100%; object-fit: cover"
        /> -->
    <div class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        {% for item in carousel %}
        <div
          class="
            carousel-item
            {% if item.carousel_order == 1 %}
            active
            {% endif %}
          "
          data-interval="10000"
        >
          <img
            src="{{ item.image.url }}"
            class="d-block w-100 custom-img"
            style="height: 100vh"
          />
          <div
            style="
              position: absolute;
              bottom: 2%;
              left: 50px;
              font-size: 0.8em;
              color: rgb(255, 255, 255);
              z-index: 2;
            "
          >
            {{ item.talent_appreciation_text }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- <img
            src="./img/logo.png"
            width="40px"
            height="40px"
            alt="app-logo"
            id="nav-app-logo"
            style="position: absolute; top: 5%; left: 45px"
        /> -->
    <a href="{% url 'home' %}">
    <span
      class="nav-app-title"
      style="
        position: absolute;
        top: 5%;
        left: 40px;
        font-size: 1.5em;
        z-index: 2;
      "
      >Duniya Dekhegi</span
    >
    </a>
    <div
      style="
        position: absolute;
        top: 13%;
        left: 45px;
        color: rgb(255, 255, 255);
        font-size: 1.6em;
        font-weight: bold;
        z-index: 2;
      "
    >
      Where we recognize people's talent and <br />
      spread it to the world!
    </div>
  </div>
  <div class="col-md-7 p-0">
    <div style="position: absolute; right: 30px; top: 10px; font-size: 0.95em">
      Already registered? <a href="{% url 'account_login' %}">Login here</a>
    </div>
    <div
      class="d-flex align-items-center justify-content-center"
      style="height: 100vh"
    >
      <div style="width: 300px">
        <h3 class="font-weight-bold mb-4"><b>Sign Up </b></h3>

        <form class="fs-9" method="POST" action="{% url 'account_signup' %}">
          {% csrf_token %}
          <a class="d-flex align-items-center p-2 google-logo" href="{% provider_login_url 'google' %}">
            <img src="{% static './img/google-logo.png' %}" width="25px" height="25px" class="ml-2"/>
            <span class="ml-2">Sign up with Google</span>
          </a>
          <!-- <a class="d-flex align-items-center p-2 mt-3 facebook-logo" href="{% provider_login_url 'facebook' %}">
            <img src="{% static './img/facebook-logo.svg' %}" width="25px" height="25px" class="ml-2"/>
            <span class="ml-2">Sign up with Facebook</span>
          </a> -->
          <hr/>
          <div class="form-group">
              <label for="{{form.name.auto_id}}">{{form.name.label}}</label>
                {{form.name}}
              <!-- <label for="name">Name</label> -->
            <!-- <input type="text" class="form-control" id="name" /> -->
          </div>
          <div class="form-group">
            <label for="{{form.email.auto_id}}">{{form.email.label}}</label>
            {{ form.email }}
            <!-- <label for="email">Email address</label> -->
            <!-- <input type="email" class="form-control" id="email" /> -->
          </div>
          <div class="form-group">
              <label for="{{form.password1.auto_id}}">{{form.password1.label}}</label>
              {{form.password1}}
            <!-- <label for="password">Password </label> -->
            <!-- <input type="password" class="form-control" id="password" /> -->
          </div>
          <!-- <div class="alert alert-danger">
            <small>1)Your password must be between 8 and 30 characters. 2) Your password must contain at least one uppercase, or capital, letter (ex: A, B, etc.) 3) Your password must contain at least one lowercase letter. 4) Your password must contain at least one number digit (ex: 0, 1, 2, 3, etc.)</small>
          </div> -->
          <div class="form-group">
            <label for="{{form.password2.auto_id}}">{{form.password2.label}}</label>
            {{form.password2}}
            <!-- <label for="confirmPassword">Confirm password</label> -->
            <!-- <input type="password" class="form-control" id="confirmPassword" /> -->
          </div>
          <div class="d-flex align-items-center mb-3">
            <!-- <div class="checkbox">
              {{form.is_agree_terms}}
              <label for="id_is_agree_terms">
                <i class="bi bi-check-lg"></i>
              </label>
            </div> -->
            <span style="transform: scale(1.2);margin-top: 5px;">{{form.is_agree_terms}}</span>
             <span class="ml-2">I agree to the <a href="{% url 'termsofservice' %}">terms & conditions</a></span>
          </div>
          {% if messages %}
            <div class="alert alert-success" role="alert">
            <strong>
                {% for message in messages %}
                {{message}}
                {% endfor %}
            </strong>
            </div>
            {% endif %}
            {% if form.errors %}
                <div id="signup-error" class="alert alert-danger fade show" role="alert">
                    {{form.errors|show_first_error}}
                </div>
            {% endif %}
          <!-- <div id="signup-error" class="d-none alert alert-danger fade show" role="alert"></div> -->
          <button type="submit" class="btn btn-primary fs-1" >
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
