{% extends 'index.html' %} {% load static %} {% block content %}
<div class="d-flex align-items-center mx-4 mt-2">
  {% if user.talentuser.category %}
  <h5>
    Edit your
    <span class="font-family-cursive color-purple" style="font-size: 1.3em"
      >Public profile</span
    >
  </h5>
  {% else %}
  <h5>
    Create a
    <span class="font-family-cursive color-purple" style="font-size: 1.3em"
      >Public profile</span
    >
  </h5>
  {% endif %}
</div>
<div
  id="msg_div"
  class="alert alert-success fade show d-none mt-2 mx-3"
  role="alert"
>
  <text id="msg_text"></text>
</div>
<div id="edit-talent-profile" class="row px-3 mt-4">
  <div class="left-section col-md-5 col-lg-4 col-xl-3 mx-0">
    <div class="profile-box d-none d-md-flex flex-column align-items-center">
      <!-- <i class="bi bi-share ml-auto mr-2"></i> -->
      <div
        class="profile-img-container mt-3"
        style="width: 170px; height: 170px"
      >
        <img
          src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static './img/avatar.png' %}{% endif %}"
          class="rounded-circle profile-img"
          width="150px"
        />
      </div>
      <span class="mt-2" style="font-weight: bold; font-size: 1.2em"
        >{{ user.name }}</span
      >
      {% if user.talentuser.category %}
      <span class="fs-85 mb-1">
        <i class="bi bi-geo-alt"></i>
        
        {% if user.othercountry %}
        {{ user.othercountry.city }}, {{ user.othercountry.state }}
        {% else %}          
        {{ user.address.city.name }}, {{ user.address.state.name }}
        {% endif %}
        <!-- {{ user.address.address }} , {{ user.address.city.name }}, {{ user.address.state.name }} - {{ user.address.pincode }} -->
      </span>
      {% endif %}
      <div class="category-picker box-selectpicker fs-9 mb-2">
        <select
          class="selectpicker form-control mt-2"
          id="talent-category-desktop"
          name="talent-category-desktop"
          onchange="handleCategoryChange(event)"
        >
          {% for category in talent_categories %}
          <option>{{category}}</option>
          {% endfor %}
          <option>Other</option>
        </select>
      </div>
      <span class="flex-common" style="width: 80%">
        <input
          type="text"
          id="other-category-desktop"
          class="form-control mt-3 mb-2 text-center d-none"
          name="other-category-desktop"
          placeholder="Enter category name"
        />
      </span>

      {% if not user.talentuser.category %}
      <span class="flex-common">
        <input
          type="text"
          id="address-desktop"
          class="form-control mt-3 text-center"
          name="address-desktop"
          placeholder="Address"
        />
      </span>
      <span class="flex-common">
        <input
          type="text"
          id="pincode-desktop"
          class="form-control my-2 text-center"
          name="pincode-desktop"
          pattern="[0-9]{5}"
          placeholder="Pincode"
        />
      </span>
      <div class="d-flex flex-common mt-2">
        <span style="transform: scale(1.2);margin-top: 5px;">
          <input type="checkbox" id="outside-india-desktop" onChange="showStateAndCityInput(event)">
        </span>
        <span class="ml-2">Outside India</span>
      </div>
      <div class="state-city-input d-none">
        <span class="flex-common">
          <input
            type="text"
            id="state-input-desktop"
            class="form-control mt-3 text-center"
            name="state-input-desktop"
            placeholder="State"
          />
        </span>
        <span class="flex-common">
          <input
            type="text"
            id="city-input-desktop"
            class="form-control my-2 text-center"
            name="city-input-desktop"
            placeholder="City"
          />
        </span>
      </div>
      <div class="box-selectpicker flex-common flex-column fs-85">
        <select
          class="selectpicker my-3"
          title="State"
          id="state-desktop"
          name="state-desktop"
          data-live-search="true"
        >
          <option value="" class="clear-choice">Clear choice</option>
          {% for states in statecitydata %}
          <option>{{ states }}</option>
          {% endfor %}
        </select>
        <select
          class="selectpicker mb-3"
          title="City"
          id="city-desktop"
          name="city-desktop"
          data-live-search="true"
        >
          {% for city in cities %}
          <option>{{ city }}</option>
          {% endfor %}
        </select>
      </div>
      {% endif %}

      <textarea
        id="shortdescription-desktop"
        name="shortdescription-desktop"
        class="mt-2"
        placeholder="Describe your key skills (mandatory)"
        rows="3"
      >
{{ user.talentuser.achievements }}</textarea
      >
      <span
        class="mt-3 d-flex align-items-center justify-content-center fs-85 mb-4"
        ><span class="h5 mt-2">₹</span>&ensp; Starting at
        <input
          type="text"
          id="price-desktop"
          class="form-control w-50 text-center ml-2"
          name="price-desktop"
          placeholder="Price"
          value="{{ user.talentuser.price }}"
      /></span>

      <!-- <span class="mt-3 fs-85"
        ><i class="bi bi-bag-check h5"></i>&ensp; 30 Order completed</span
      > -->
    </div>
  </div>
  <div class="col-md-7 col-lg-8 col-xl-9 mx-0">
    <div class="content-box h-100">
      <!-- MOBILE PROFILE BOX  -->
      <div class="mobile-profile-box ml-2">
        <div class="d-flex align-items-center mb-3 w-100">
          <img
            src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static './img/avatar.png' %}{% endif %}"
            width="70px"
            height="70px"
            class="rounded-circle mx-1"
          />
          <div class="d-flex flex-column ml-2">
            <div class="font-weight-bold ml-1">{{ user.name }}</div>
            <div class="category-picker box-selectpicker">
              <select
                class="selectpicker form-control mt-2"
                style="font-size: 0.9em"
                id="talent-category-mobile"
                name="talent-category-mobile"
                onchange="handleCategoryChange(event)"
              >
                {% for category in talent_categories %}
                <option>{{category}}</option>
                {% endfor %}
                <option>Other</option>
              </select>
            </div>
          </div>
          <!-- <i class="bi bi-share ml-auto mr-2"></i> -->
        </div>
      </div>
      <input
        type="text"
        id="other-category-mobile"
        class="form-control my-2 text-center d-none"
        name="other-category-mobile"
        placeholder="Enter category name"
      />
      <!-- MOBILE PROFILE BOX  END-->
      <div class="mx-sm-3 mb-2"><strong>About*</strong></div>
      <div id="editor" class="mx-sm-3 mb-3">
        {% if user.talentuser.description %} {{ user.talentuser.description|safe }} {% else %}
        <p>Write about you in detail</p>
        {% endif %}
      </div>

      <div class="mx-sm-3 mb-2"><strong>Upload content*</strong></div>
      <div id="drag-drop-area" class="mx-sm-3 mb-3"></div>

      <!-- EMBED VIDEO  -->
      <div class="mx-sm-3 mb-2"><strong>Embed youtube videos</strong></div>
      <div id="embed-video-list-wrapper" class="my-3 mt-lg-0 mx-sm-3">
        <ol id="embed-video-list" class="p-0 m-0">
          {% for link in embedded_videos %}
          <li
            class="
              embed-video-item
              d-initial d-lg-flex
              align-items-center
              ml-3 ml-lg-0
              mt-0 mt-lg-2
            "
          >
            <span class="d-none d-lg-block">{{ forloop.counter }}. https://www.youtube.com/embed/</span
            >
            <input
              type="text"
              id="embed-video-{{ forloop.counter }}"
              name="embed-video-{{ forloop.counter }}"
              placeholder="Enter youtube video id"
              class="form-control w-auto ml-1"
              value="{{link}}"
            />
          </li>
          {% empty %}
          <li
            class="
              embed-video-item
              d-initial d-lg-flex
              align-items-center
              ml-3 ml-lg-0
              mt-0 mt-lg-2
            "
          >
            <span class="d-none d-lg-block"
              >1. https://www.youtube.com/embed/</span
            >
            <input
              type="text"
              id="embed-video-1"
              name="embed-video-1"
              placeholder="Enter youtube video id"
              class="form-control w-auto ml-1"
            />
          </li>
          {% endfor %}
        </ol>
        <div class="ml-2">
          <i
            class="bi bi-plus-circle h3 mx-1"
            id="add-video-link"
            onclick="addVideoLink()"
          ></i>
          <i
            class="remove-faq bi bi-dash-circle h3 mx-1"
            id="remove-video-link"
            onclick="removeVideoLink()"
          ></i>
        </div>
      </div>
      <!-- # -->
      <div class="mobile-profile-box">
        <div class="description mt-2">
          <div class="d-flex flex-column">
            <b class="d-flex align-items-center"
              >Starting at &ensp;
              <div class="h5 mt-2">₹</div>
              <input
                type="text"
                id="price-mobile"
                class="form-control w-25 ml-2 py-0 px-1"
                name="price-mobile"
                placeholder="Price"
                value="{{ user.talentuser.price }}"
            /></b>
            {% if not user.talentuser.category %}
            <div class="d-flex flex-column">
              <input
                type="text"
                id="address-mobile"
                class="form-control my-2"
                name="address-mobile"
                placeholder="Address"
              />
              <input
                type="text"
                id="pincode-mobile"
                class="form-control my-2"
                name="pincode-mobile"
                pattern="[0-9]{5}"
                placeholder="Pincode"
              />
            </div>
            <div class="d-flex flex-common mt-2">
              <span style="transform: scale(1.2);margin-top: 5px;">
                <input type="checkbox" id="outside-india-mobile" onChange="showStateAndCityInput(event)">
              </span>
              <span class="ml-2">Outside India</span>
            </div>
            <div class="state-city-input d-none flex-column">
              <input
                type="text"
                id="state-input-mobile"
                class="form-control my-2"
                name="state-input-mobile"
                placeholder="State"
              />
              <input
                type="text"
                id="city-input-mobile"
                class="form-control my-2"
                name="city-input-mobile"
                placeholder="City"
              />
            </div>
            <div class="box-selectpicker d-flex mt-2">
              <select
                class="selectpicker mt-2 w-50 mx-1"
                title="State"
                id="state-mobile"
                name="state-mobile"
                data-live-search="true"
              >
                <option value="" class="clear-choice">Clear choice</option>
                {% for states in statecitydata %}
                <option>{{ states }}</option>
                {% endfor %}
              </select>
              <select
                class="selectpicker mt-2 w-50 mx-1"
                title="City"
                id="city-mobile"
                name="city-mobile"
                data-live-search="true"
              >
                {% for city in cities %}
                <option>{{ city }}</option>
                {% endfor %}
              </select>
            </div>
            {% endif %}
            <!-- <b><i class="bi bi-bag-check"></i> 30 Order completed</b> -->
          </div>
          <textarea
            id="shortdescription-mobile"
            name="shortdescription-mobile"
            class="mt-3 w-100"
            placeholder="Describe you key skills"
            rows="2"
          >
{{ user.talentuser.achievements }}</textarea
          >
          <hr />
        </div>
      </div>
      <div class="mx-3">
        <div class="mb-2"><strong>Gender*</strong></div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="male"
            value="male"
          />
          <label class="form-check-label" for="male"> Male </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="female"
            value="female"
          />
          <label class="form-check-label" for="female"> Female </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="other"
            value="other"
          />
          <label class="form-check-label" for="other"> Other </label>
        </div>
        <div class="form-group mt-2">
          <label for="secondary-skill"
            ><strong>Your secondary skills</strong></label
          >
          <input
            name="secondary-skill"
            type="text"
            class="form-control fs-85"
            id="secondary-skill"
            style="max-width: 300px"
            placeholder="Singing, dancing etc..."
            value="{{ user.talentuser.secondary_skills }}"
          />
        </div>
        <div class="mb-1">
          <strong>Are you looking to get engaged Full-Time/Part-Time ?*</strong>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="engagement"
            id="fulltime"
            value="fulltime"
          />
          <label class="form-check-label" for="fulltime"> Full-time </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="engagement"
            id="parttime"
            value="parttime"
          />
          <label class="form-check-label" for="parttime"> Part-time </label>
        </div>
        <div class="mt-3 mb-1">
          <strong
            >Are you professionally trained on your primary/secondary
            skills?*</strong
          >
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="is-trained"
            id="trained"
            value="1"
          />
          <label class="form-check-label" for="trained"> Yes </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="is-trained"
            id="not-trained"
            value="0"
          />
          <label class="form-check-label" for="not-trained"> No </label>
        </div>
        <div class="mt-3 mb-2"><strong>Availability*</strong></div>
        <div class="box-selectpicker" style="max-width: 300px">
          <select
            id="availability"
            class="selectpicker form-control"
            multiple
            data-selected-text-format="count > 2"
          >
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
        </div>
        <div class="mt-3 mb-1">
          <strong>Are you willing to travel to perform your skills?*</strong>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="will-travel"
            id="yes-travel"
            value="1"
          />
          <label class="form-check-label" for="yes-travel"> Yes </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="will-travel"
            id="no-travel"
            value="0"
          />
          <label class="form-check-label" for="no-travel"> No </label>
        </div>
        <div class="mt-3 mb-1"><strong>Do you provide training?*</strong></div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="provide-training"
            id="yes-provide-training"
            value="1"
          />
          <label class="form-check-label" for="yes-provide-training">
            Yes
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="provide-training"
            id="not-provide-training"
            value="0"
          />
          <label class="form-check-label" for="not-provide-training">
            No
          </label>
        </div>
      </div>
      <div class="mx-3 mt-3">
        <div class="mb-2"><strong>FAQ</strong></div>
        <ol id="faq-list" style="padding: 0 15px; margin-bottom: 0">
          {% for faq in faqs %}
          <li class="faq-item" style="max-width: 450px">
            <input
              type="text"
              id="que{{ forloop.counter }}"
              name="que{{ forloop.counter }}"
              placeholder="Question"
              class="form-control"
              value="{{ faq.question }}"
            />
            <div>
              <textarea
                id="ans{{ forloop.counter }}"
                name="ans{{ forloop.counter }}"
                placeholder="Answer"
                class="mt-2 w-100"
              >
              {{ faq.answer }}
              </textarea>
            </div>
          </li>
          {% empty %}
          <li class="faq-item" style="max-width: 450px">
            <input
              type="text"
              id="que1"
              name="que1"
              placeholder="Question"
              class="form-control"
            />
            <div>
              <textarea
                id="ans1"
                name="ans1"
                placeholder="Answer"
                class="mt-2 w-100"
              ></textarea>
            </div>
          </li>
          {% endfor %}
        </ol>
        <div class="ml-3">
          <i
            class="bi bi-plus-circle h3 mx-1"
            id="add-faq"
            onclick="addFaq()"
          ></i>
          <i
            class="remove-faq bi bi-dash-circle h3 mx-1"
            id="remove-faq"
            onclick="removeFaq()"
          ></i>
        </div>
      </div>
      <button
        class="btn btn-primary fs-95 ml-3 mt-4"
        onclick="updateTalentProfile()"
      >
        Save Your Profile
      </button>
    </div>
  </div>
</div>
<br />
<!-- HIDDEN FIELDS TO PASS IN JAVASCRIPT FILES -->
<input id="faqs-length" type="hidden" value="{{ faqs.count }}" />
<input id="links-length" type="hidden" value="{% if embedded_videos.count == 0 %}1{% else %}{{ embedded_videos.count }}{% endif %}" />

<!-- SCRIPTS  -->
<script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/inline/ckeditor.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"
  integrity="sha512-b4rL1m5b76KrUhDkj2Vf14Y0l1NtbiNXwV+SzOzLGv6Tz1roJHa70yr8RmTUswrauu2Wgb/xBJPR8v80pQYKtQ=="
  crossorigin="anonymous"
></script>
<script src="https://releases.transloadit.com/uppy/v2.4.1/uppy.min.js"></script>
<script src="{% static './js/faq.js' %}"></script>
<script src="{% static './js/embedvideo.js' %}"></script>
<script>
  // InlineEditor.builtinPlugins.map( plugin => {
  //   console.log(plugin.pluginName);
  // } );

  InlineEditor.create( document.querySelector( '#editor' ), {
    removePlugins: [ 'Heading', 'Indent', 'Table', 'MediaEmbed', 'ImageUpload', 'EasyImage', 'Link', 'CKFinder'],
  } ).catch( error => {
    console.error( error );
  } );

  lightGallery(document.querySelector(".content-images"), {
    download: false,
  });

  const uppy = new Uppy.Core({
      restrictions: {
          maxFileSize: 10000000,
          maxNumberOfFiles: 5,
          minNumberOfFiles: 1,
          allowedFileTypes: ['image/*', 'video/*']
      }
  });

  uppy.use(Uppy.Dashboard, {
      target: '#drag-drop-area',
      inline: true,
      hideUploadButton: true,
      proudlyDisplayPoweredByUppy: false,
      width: '100%',
      note: 'Recommended image aspect ratio 4:3 (width:height). You can crop the image after uploading.'
  })
  uppy.use(Uppy.ImageEditor, { target: Uppy.Dashboard })
  uppy.use(Uppy.XHRUpload, {
      endpoint: "{% url 'edittalentprofile' %}",
      headers: {
          "X-CSRFToken": "{{ csrf_token }}"
      },
      bundle: true,
  })

  const isDesktop = () => {
    if($(".mobile-profile-box").css("display") === "none"){
      return true
    }else{
      return false
    }
  }

  const handleCategoryChange = (e) => {
    let device;
    if(isDesktop()){
      device = "desktop"
    }else{
      device = "mobile"
    }
    if(e.target.value === "Other"){
      $("#other-category-" + device).removeClass("d-none");
    }else{
      $("#other-category-" + device).addClass("d-none");
      $("#other-category-" + device).val('');
    }
  }

  const showStateAndCityInput = (e) => {
    if(e.target.checked){
      $("#state-desktop").selectpicker("hide");
      $("#city-desktop").selectpicker("hide");
      $("#state-mobile").selectpicker("hide");
      $("#city-mobile").selectpicker("hide");
      $(".state-city-input").removeClass("d-none")
    }else{
      $("#state-desktop").selectpicker("show");
      $("#city-desktop").selectpicker("show");
      $("#state-mobile").selectpicker("show");
      $("#city-mobile").selectpicker("show");
      $(".state-city-input").addClass("d-none")
    }
  }


  const setFieldValue = (dbField,fieldValDesktop,fieldValMobile) => {
    if(dbField === ''){
      return fieldValDesktop || fieldValMobile;
    }else{
      if(dbField !== fieldValDesktop){
        return fieldValDesktop;
      }else{
        return fieldValMobile;
      }
    }
  }

  const updateTalentProfile = () => {
    const faqs = JSON.stringify([
      {
        que: $("#que1").val(),
        ans: $("#ans1").val(),
      },
      {
        que: $("#que2").val(),
        ans: $("#ans2").val(),
      },
      {
        que: $("#que3").val(),
        ans: $("#ans3").val(),
      },
      {
        que: $("#que4").val(),
        ans: $("#ans4").val(),
      },
      {
        que: $("#que5").val(),
        ans: $("#ans5").val(),
      }
    ])
    const videolinks = JSON.stringify([
      {
        id: $("#embed-video-1").val(),
      },
      {
        id: $("#embed-video-2").val(),
      },
      {
        id: $("#embed-video-3").val(),
      },
      {
        id: $("#embed-video-4").val(),
      },
      {
        id: $("#embed-video-5").val(),
      }
    ])

    let stateVal;
    const isCustomInputVisible = $(".state-city-input").hasClass('d-none') || $(".state-city-input").hasClass('d-none');
    if(isCustomInputVisible){
      stateVal = setFieldValue("{{ user.address.state.name }}",$("#state-desktop").val(),$("#state-mobile").val())
    }else{
      stateVal = setFieldValue("{{ user.address.state.name }}",$("#state-input-desktop").val(),$("#state-input-mobile").val());
    }

    let cityVal;
    if(isCustomInputVisible){
      cityVal = setFieldValue("{{ user.address.city.name }}",$("#city-desktop").val(),$("#city-mobile").val())
    }else{
      cityVal = setFieldValue("{{ user.address.city.name }}",$("#city-input-desktop").val(),$("#city-input-mobile").val());
    }
    const data = {
      talent_category: setFieldValue('{{ user.talentuser.category }}',$("#talent-category-desktop").val(),$("#talent-category-mobile").val()),
      other_category: setFieldValue('', $("#other-category-desktop").val(), $("#other-category-mobile").val()),
      address: setFieldValue('{{ user.address.address }}',$("#address-desktop").val(),$("#address-mobile").val()),
      pincode: setFieldValue('{{ user.address.pincode }}',$("#pincode-desktop").val(),$("#pincode-mobile").val()),
      city: cityVal,
      state: stateVal,
      is_outside_india: setFieldValue('', $("#outside-india-desktop").is(":checked") , $("#outside-india-mobile").is(":checked")),
      shortdescription: setFieldValue('{{ user.talentuser.achievements }}',$("#shortdescription-desktop").val(),$("#shortdescription-mobile").val()),
      price: setFieldValue('{{ user.talentuser.price }}',$("#price-desktop").val(),$("#price-mobile").val()),
      longdescription: $("#editor").html(),
      gender: $("input:radio[name='gender']").val(),
      secondary_skills: $("#secondary-skill").val(),
      engagement: $("input:radio[name='engagement']").val(),
      is_trained: $("input:radio[name='is-trained']").val(),
      availability: $("#availability").val(),
      will_travel: $("input:radio[name='will-travel']").val(),
      provide_training: $("input:radio[name='provide-training']").val(),
      faqs,
      videolinks,
    }
    uppy.setMeta(data);
    uppy.upload();
  }

  uppy.on('complete', (result) => {
    Toastify({
        text: result?.successful[0]?.response?.body?.msg,
        duration: 3000,
        close: true,
        gravity: "top",
        position: "center",
        backgroundColor: "#5abab7",
        style: {
          borderRadius: "20px"
        },
        stopOnFocus: true,
        callback: () => {
          if(!result.successful[0].response.body.error){
            location.href = "{% url 'talentprofile' user.userlink %}"
          }
        }
      }).showToast();
  })

  uppy.on('error', error => {
    Toastify({
      text: error,
      duration: 3000,
      close: true,
      gravity: "top",
      position: "center",
      backgroundColor: "brown",
      style: {
        borderRadius: "20px"
      },
      stopOnFocus: true,
    }).showToast();
  })

  let toastFixCount = 0;
  uppy.on('restriction-failed', (file, error) => {
    if(toastFixCount === 0){
      Toastify({
        text: error,
        duration: 3000,
        close: true,
        gravity: "top",
        position: "center",
        style: {
          borderRadius: "20px",
          background: "brown"
        },
        stopOnFocus: true,
      }).showToast();
      toastFixCount++;
    }else{
      toastFixCount = 0;
    }
  })

  switch("{{ user.talentuser.gender }}"){
    case "male":
      $("#male").prop("checked",true);
      break;
    case "female":
      $("#female").prop("checked",true);
      break;
    case "other":
      $("#other").prop("checked",true);
      break;
  }

  switch("{{ user.talentuser.engagement }}"){
    case "fulltime":
      $("#fulltime").prop("checked",true);
      break;
    case "parttime":
      $("#parttime").prop("checked",true);
      break;
  }

  switch("{{ user.talentuser.is_trained }}"){
    case "True":
      $("#trained").prop("checked",true);
      break;
    case "False":
      $("#not-trained").prop("checked",true);
      break;
  }

  let availabilityArray = "{{ user.talentuser.availability }}".split(",");
  availabilityArray = availabilityArray.map((val) => val.trim());
  $("#availability").selectpicker('val', availabilityArray)

  switch("{{ user.talentuser.will_travel }}"){
    case "True":
      $("#yes-travel").prop("checked",true);
      break;
    case "False":
      $("#no-travel").prop("checked",true);
      break;
  }

  switch("{{ user.talentuser.provide_training }}"){
    case "True":
      $("#yes-provide-training").prop("checked",true);
      break;
    case "False":
      $("#not-provide-training").prop("checked",true);
      break;
  }

  window.onload = () => {

    //uppy initial file load
    if('{{ user.talentuser.category }}'){
      uppy.cancelAll();
      const talentImages = JSON.parse('{{ talent_images|safe }}')
      if(talentImages){
        talentImages.forEach((image) => {
            fetch(image).then(res => res.blob()).then(blob => {
                const imageName = image.replace(/^.*[\\\/]/, ''); // to get file-name from path
                const imageType = imageName.split('.')[1]
                uppy.addFile({
                    name: imageName,
                    type: `image/${imageType}`,
                    data: blob,
                });
            });
        });
      }

      const talentVideos = JSON.parse('{{ talent_videos|safe }}');
      if(talentVideos){
        talentVideos.forEach(video => {
          fetch(image).then(res => res.blob()).then(blob => {
              const videoName = video.replace(/^.*[\\\/]/, '');
              const videoType = videoName.split('.')[1]
              uppy.addFile({
                  name: videoName,
                  type: `video/${videoType}`,
                  data: blob,
              });
          });
        })
      }
    }

    $('#talent-category-desktop').selectpicker('val', '{{ user.talentuser.category }}');
    $('#talent-category-mobile').selectpicker('val', '{{ user.talentuser.category }}');

    if($('#talent-category-desktop').val() === "Other" && $('#talent-category-mobile').val() === "Other"){
      if(isDesktop()){
        $("#other-category-desktop").removeClass("d-none");
      }else{
        $("#other-category-mobile").removeClass("d-none");
      }
    }
    let stateCityData = {{ statecitydata|safe }};
    let stateSelDesktop = document.querySelector("#state-desktop");
    let citySelDesktop = document.querySelector("#city-desktop");

    stateSelDesktop.onchange = function () {
      citySelDesktop.length = 0;
      if (this.selectedIndex < 1)
        return;
      let n = stateCityData[this.value] && stateCityData[this.value].length
      for (let i=0;i<n;i++ ) {
        let city = stateCityData[this.value][i]
        citySelDesktop.options[citySelDesktop.options.length] = new Option(city, city);
      }
      $('#city-desktop').selectpicker('refresh');
    }

    let stateSelMobile = document.querySelector("#state-mobile");
    let citySelMobile = document.querySelector("#city-mobile");

    stateSelMobile.onchange = function () {
      citySelMobile.length = 0;
      if (this.selectedIndex < 1)
        return;
      let n = stateCityData[this.value] && stateCityData[this.value].length
      for (let i=0;i<n;i++ ) {
        let city = stateCityData[this.value][i]
        citySelMobile.options[citySelMobile.options.length] = new Option(city, city);
      }
      $('#city-mobile').selectpicker('refresh');
    }
  }
</script>

{% endblock %}
