{% extends 'index.html' %}
{% load static %}
{% block content %}
	<!--Reset Password-->
	<div class="container p-5">
  	 	<h4 class="font-weight-bold mt-3">Reset Password</h4>
		<p>Forgot your password? Enter your email address below, and we'll sent you an email regarding it.</p>
		<hr>
        <form method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label for="email" class="ml-1">Email address</label>
				<input autocomplete="email" id="id_email" maxlength="254" name="email" type="email" class="form-control" style="width:250px">                   
			</div>
			<button class="btn btn-primary fs-9" type="submit">Send email</button>
        </form>
  	</div> 
{% endblock %}